[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "oosse"]
	path = oosse
	url = https://github.com/sthawinke/oosse
[submodule "pengls"]
	path = pengls
	url = https://github.com/sthawinke/pengls
